.not-found {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    p {
        color: white;
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        font-size: 1.5rem;
        background-color: white;
        color: rgb(25, 25, 25);
        padding: 0.5rem 1.2rem;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
            backdrop-filter: blur(15px);
        }
    }
}