$font-family: 'Yekanbakh';

// colors
$primary-color: #7F27FF;
$primary-transparent: #9F70FD;
$gradient-color-1: rgb(101, 12, 95);
$gradient-color-2: rgba(60, 132, 206, 1);
$gradient-color-3: rgba(48, 238, 226, 1);

// sizes
$tablet-size: 768px;
$mobile-size: 480px;